services:
  sif2-ew:
    image: sif2-ew:latest
    container_name: sif2-ew
    build:
      dockerfile: "./Dockerfile"
    environment:
      PORT: 8080
      DIRECTORY: /data/
      HTTPS: false
      NPPS4_ADDRESS: "http://127.0.0.1:51376"
      MAXTIME: 1717045200 # A day before global EOS
      HIDDEN: false # Will disable the webui
      DISABLE_IMPORTS: false # Will disable account imports
      DISABLE_EXPORTS: false # Will disable account exports
      #IMAGE_ASSET_PATH: /images/ # Images for cards in webui (will default to the public server)

      # Everything below is for the "Help" page
      #ANDROID_GLOBAL: "link.to/patched/android/global.apk"
      #ANDROID_JAPAN: "link.to/patched/android/japan.apk"
      #IOS_GLOBAL: "link.to/ios/global.ipa"
      #IOS_JAPAN: "link.to/ios/japan.ipa"
      #ASSET_URL: "link.to/client/assets/"
    ports:
      - 8080:8080
    volumes:
      - ./data:/data
      # You can download from https://git.ethanthesleepy.one/ethanaobrien/ew-webui/releases/download/images/card-thumbnails.zip
      # No, you should not have a nested folder EXAMPLE: `images/FILENAME.webp`
      #- ./images:/images
    restart: unless-stopped
